.country {
  border: 3px solid yellow;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.img {
  width: 150px;
  height: 100px;
}

.part-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1opx;
  padding: 1opx;
}

.flag img {
  width: 100px;
  height: 80px;
  margin: 5px;
}
